<div class="p-4 border-top mt-4 bg-white">
<div class="container">
    <div class="row d-flexrow-cols-1 row-cols-sm-2 row-cols-md-5 py-3">
      <div class="col">
        <h5>Hourly Humans</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Humans</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>
      <div class="col mb-3">
        <div class="footer-links">
          Follow us  <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
        </div>
      </div>
      <div class="col mb-3"></div>
      <div class="col mb-3"></div>
    </div>
  </div>
</div>
