<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<ul>
  <% @users.each do |user| %>
    <li><%= user.first_name %></li>
    <li><%= user.task %>
    <li><%= user.hourly_price %>
  <% end %>
</ul>
