<header>
  <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
  <div class="overlay"></div>
  <!-- The HTML5 video element that will create the background video on the header -->
  <video id="background-video" autoplay loop muted poster="https://assets.codepen.io/6093409/river.jpg">
    <source src="https://res.cloudinary.com/dl0lttme2/video/upload/v1677673878/hourlyhumans_jvpzyb.mp4" type="video/mp4">
  </video>
  <!-- The header content -->
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-1"><strong><em>Hourly Humans</em></strong></h1>
        <p class="lead lg-1">Rent humans, for any purpose.</p>
        <a href="/humans" type="button" id="landing-btn" class="btn btn-primary btn-lg">Get started</a>
        <a href="/humans" type="button" id="landing-btn-2" class="btn btn-primary btn-lg">Learn more</a>
      </div>
    </div>
  </div>
</header>
