<header>
  <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
  <div class="overlay"></div>
  <!-- The HTML5 video element that will create the background video on the header -->
  <video id="background-video" autoplay loop muted poster="https://assets.codepen.io/6093409/river.jpg">
    <source src="https://res.cloudinary.com/dl0lttme2/video/upload/v1677673878/hourlyhumans_jvpzyb.mp4" type="video/mp4">
  </video>
  <!-- The header content -->
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3"><strong><em>Hourly Humans</em></strong></h1>
        <p class="lead mb-4">Rent humans, for any purpose.</p>
        <a href="/humans" type="button" class="btn btn-primary btn-lg">Get started</a>
      </div>
    </div>
  </div>
</header>
<!-- Page section example for content below the video header -->
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <p class="mb-0">
        </p>
      </div>
    </div>
  </div>
</section>
