.card .table-accept a {
  color: #1EDD88;
}

.card .table-accept a:hover {
  color: #1EDD88;
  font-weight: bold;
}

.card .table-reject a {
  color: #696868;
  font-weight: lighter;
}


.table-edit {
  color: #4a4a4a
}

.table-delete {
  color: #4a4a4a
}
